---
const { label, type, id, placeholder, rows } = Astro.props;
---

<div class="input-wrapper">
  <label for={id} class="input-label">{label}</label>
  <textarea id={id} placeholder={placeholder} rows={rows}></textarea>
</div>

<style>
  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    width: 100%;
  }

  .input-label {
    font-family: Manrope;
    color: var(--color-text-secondary);
    font-size: var(--font-size-s);
    font-weight: 600;
  }

  textarea {
    appearance: none;
    background-color: var(--color-background-secondary);
    font-family: "Instrument Sans";
    font-size: var(--font-size-s);
    color: var(--color-text-primary);
    caret-color: var(--color-text-secondary);
    border: 1px solid #4e4e4e;
    padding: var(--spacing-s) var(--spacing-s);
    border-radius: 2px;
    transition-property: border box-shadow;
    transition-duration: 300ms;
    transition-timing-function: var(--animation-timing);
  }

  textarea:hover {
    border: 1px solid #838383;
  }

  textarea:focus {
    border: 1px solid #838383;
    box-shadow: 0 0 0 2px var(--color-focus);
  }
</style>
